
body {

    font-family: 'Poppins', sans-serif;

    background-image: linear-gradient(rgba(19, 21, 77, 0.4), rgba(44, 49, 178, 0.4)), url("../front-end/img/background2.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 400px;
    margin-left: 30px;
    margin-right: 25px;
}

.form-box {
    filter: drop-shadow(20px 50px 100px rgba(113, 246, 255, 0.25));
    border-radius: 45px;
    border: 1px solid rgba(23, 32, 117, 0.50);
    background: linear-gradient(180deg, rgba(255, 72, 215, 0.25) 0%, rgba(234, 234, 234, 0.25) 100%);
    padding: 20px 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.input-group input {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background: #34448E;

    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.43);
    font-size: 25px;
}

.input-group .link {
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 0.8rem;
    color: #a5d6fd;
    text-decoration: none;
}

.input-group .link:hover {
    text-decoration: underline;
}

.btn {
    width: 281px;
    height: 64px;

    border-radius: 50px;
    background: rgba(115, 154, 255, 0.80);

    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.203%;
}

.btn:hover {
    background: #357ABD;
}

.register {
    margin-top: 20px;
    font-size: 0.9rem;
}

.register a {
    color: #a5d6fd;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

.retour {
    position: absolute;
    top: 15px;
    left: 30px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.deco1 {
    margin-top: 500px;
    z-index: 1;
}


